/* This is the styles.css of pw-programming */

@charset "UTF-8";

body{
	width: 100%; 
	max-width: 960px;
  margin: auto; 
  background-color: cornsilk;
	text-align: center;
}

main{
	padding: .9% 14%;
}

main.left{
	padding: .9% 14%;
  text-align: left;
}

p{
	font-size: 20px;
}

header{
	padding: .3% 3%;
	padding-bottom: 0.1%;
	background-color:Chocolate;
}

/*
h1, h2, h3 {
	margin-left: 290px;
	margin-right: 290px;
}
*/

nav{
	padding: .7% 3%;
	padding-top: .6%;
	background-color:SaddleBrown;
	font-size: 19.5px;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	text-decoration: none;
	color: darkcyan;
}

ul{
	background-color: #ffeb99;
	font-size: 19px;
	margin-left: 340px;
	margin-right: 360px;
	text-align: left;
}

code{
  font-family: monospace;
  background-color: #CCD1D1;
  display: block;
  white-space: pre-wrap;
}

.tablestyle,
.tablestyle th,
.tablestyle td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tablestyle th,
.tablestyle td {
  padding: 10px;
  text-align: center;
}

